body,
figure{
    margin: 0px;
}
#logo{
    width: 100px;
    width: 200px;
    margin-top: 45px;
}

.header-pattern{
    background-color: #4EA0FF;   
    height: 100px;
    background-image: url(../img/pattern.png);
    background-size: 23%;
}

.written-by{
    color: gray;
    font-style: normal;
}

table{
border-collapse: collapse;
    width: 100%;
    margin-left: 3px;

}
th{
    background-color: #1FA9E5;
    color: #fff;
    text-align: left;
    padding-right: 100px;
}

td{
    text-align: left;
    padding: 10px;
}

.bg-row{
    background-color: #B1E5F2;
}